.grid {
  width: 20px;
  height: 20px;
  background-color: rgb(47, 59, 114);
  border-radius: 50px;
  padding: 10px;
  align-items: center;
  text-align: center;
  margin: 4px;
  position: relative;
  color: white;
  font-size: bolder;
}
.green{
  background-color: rgb(77, 172, 156);
}
.hover:hover {
  background-color: rgba(47, 59, 114, 0.719);
}
.animationBack {
  animation-name: back;
  animation-duration: 0.4s;
  animation-fill-mode: forwards;
}
.back {
  position: absolute;
  visibility: hidden;
  backface-visibility: hidden;
}
@keyframes back {
  from {
    transform: rotateY(180deg);
    transition: transform 1.2s;
    transform-style: preserve-3d;
  }
  to {
    visibility: visible;
  }
}
