.menu {
  margin-top: 6%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  zoom: 300%;
  margin-left: 15%;
  margin-right: 15%;
  padding: 30px;
  background-color: rgb(233, 233, 233);
}
.title{
  color: rgb(40, 40, 49);
}
.symbols {
  display: flex;
  margin-top: -15px;
}
.option1{
  margin-top: -10px;
  margin-right: 82px;
  font-size: 8px;
  color: rgb(83, 120, 170);
}
.option2{
  margin-top: 10px;
  margin-right: 91px;
  font-size: 8px;
  color: rgb(83, 120, 170);
}