.moves{
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-left: 110px;
  border-radius: 10px;
  border: 1px solid rgb(131, 148, 180);
  color: rgba(27, 32, 58, 0.835);
  font-size: 10px;
  height: 11px;
}
.timer{
  display: flex;
  align-items: center;
  padding: 5px;
  margin-top: 10px;
  margin-left: 155px;
  border-radius: 10px;
  border: 1px solid rgb(131, 148, 180);
  color: rgba(27, 32, 58, 0.835);
  font-size: 10px;
  height: 4px;
  color: rgb(6, 12, 92);
  font-weight: bold;  
}
.moves p{
  padding: 0;
}
.moves .number{
  margin-left: auto;
  color: rgb(6, 12, 92);
  font-weight: bold;
}